.divFormulario{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    }

.titulo{
    text-align: center;
    text-decoration: underline;
    
}
.divFormulario h3{
    text-decoration: underline;
}